{% extends "base.html" %}
{% block title %}Error 404 - Oops..{% endblock title %}
{% load static %}
{% block content %}


<div class="container px-5 py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="page-header-ui-title mb-3 display-4 fw-600">Oops! It seems you're a bit lost...</h1>
            <p>The page you are looking for does not exist. You might want to check the URL or go back to the homepage.</p>
        </div>
    </div>
    <img src="{% static 'assets/img/smiley_sad_icon.png' %}" alt="smiley sad icon">
</div>
<div class="container px-5 py-5 text-center">
    <div class="justify-content-center">
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'profiles:index' %}">
    		Profiles
        </a>
        <a class="btn fw-500 ms-lg-4 btn-primary px-10" href="{% url 'lettings:index' %}">
            Lettings
        </a>
    </div>
</div>

{% endblock %}